<template>
    <div class="container">
        <h1>Dashboard</h1>
        <button class="btn btn-primary" v-b-modal.create>Create Company</button>

        <b-modal id="create" ref="create" title="Create Company" hide-footer >
            <form @submit.prevent="create" class="d-flex flex-column">
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" id="companyName" v-model="companyName" placeholder="Company Name">
                </div>

                <div class="form-group">
                    <label for="postalCode">Zip Code</label>
                    <input type="text" class="form-control" id="postalCode" v-model="postalCode" placeholder="Zip Code">
                </div>

                <div class="form-group">
                    <label for="subscriptionPlan">Subscription Plan</label>
                    <select class="form-control" id="subscriptionPlan" v-model="subscriptionPlan" placeholder="Subscription Plan">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" v-model="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" v-model="password" placeholder="Password">
                </div>
                <button class="btn btn-primary mt-2">Create</button>
            </form>
        </b-modal>

        <b-modal id="edit" ref="edit" title="Edit Company" hide-footer >
            <form @submit.prevent="edit" class="d-flex flex-column">
                <div class="form-group">
                    <label for="editCompanyName">Company Name</label>
                    <input type="text" class="form-control" id="editCompanyName" v-model="editCompanyName" placeholder="Company Name">
                </div>

                <div class="form-group">
                    <label for="editPostalCode">Zip Code</label>
                    <input type="text" class="form-control" id="editPostalCode" v-model="editPostalCode" placeholder="Zip Code">
                </div>

                <div class="form-group">
                    <label for="editSubscriptionPlan">Subscription Plan</label>
                    <select class="form-control" id="editSubscriptionPlan" v-model="editSubscriptionPlan" placeholder="Subscription Plan">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>

                <button class="btn btn-primary mt-2">Edit</button>
            </form>
        </b-modal>

        <div>
            <b-table
                :items="items"
                :fields="fields"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                responsive="sm"
            >
                <template #cell(actions)="row">
                    <button class="btn btn-success" @click="editModal(row)">Edit</button>
                    <button class="btn btn-danger" @click="deleteModal(row)">Delete</button>
                </template>
            </b-table>
        </div>
    </div>
</template>

<script>
import api from "../api"
export default {
    name: "Dashboard",
    data() {
        return {
            sortBy: 'companyName',
            sortDesc: false,
            fields: [
                { key: 'companyName', sortable: true },
                { key: 'postalCode', sortable: true },
                { key: 'subscriptionPlan', sortable: true },
                { key: 'actions' },
            ],
            items: [],

            email: '',
            password: '',
            companyName: '',
            postalCode: '',
            subscriptionPlan: '',
            editCompanyName: '',
            editPostalCode: '',
            editSubscriptionPlan: '',
            editEmail: '',
        }
    },
    created() {
        this.getData()
    },
    methods: {
        getData() {
            api.getUsers().then((response) => {
                this.items = response
            })
        },
        create() {
            api.createCompany({
                companyName: this.companyName,
                postalCode: this.postalCode,
                userPassword: this.password,
                userEmail: this.email,
                userRole: ['ROLE_ADMIN','ROLE_USER'],
                subscriptionPlan: this.subscriptionPlan
            }).then((response) => {
                if (response === 'error') {
                    this.isError = true;
                } else {
                    this.$refs['create'].hide();
                    this.getData()
                }
            })
        },
        editModal(data) {
            this.$refs['edit'].show();
            this.editCompanyName = data.item.companyName;
            this.editPostalCode = data.item.postalCode;
            this.editSubscriptionPlan = data.item.subscriptionPlan;
            this.editEmail = data.item.email;
        },
        edit() {
            api.edit(this.editCompanyName, this.editPostalCode, this.editSubscriptionPlan, this.editEmail)
            .then(() => {
                this.$refs['edit'].hide();
                this.getData()
            })
        },
        deleteModal(data) {
            console.log(data.item)
            api.deleteCompany(data.item.email)
                .then(() => {
                    this.getData()
                })
        }
    }
}
</script>

<style>
    .sr-only {
        display: none;
    }
</style>