<template>
    <div class="container">
        <h1>Login</h1>

        <div class="alert alert-danger" role="alert" v-if="isError">
            Invalid credentials
        </div>

        <form @submit.prevent="login" class="d-flex flex-column">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" v-model="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" v-model="password" placeholder="Password">
            </div>
            <button class="btn btn-primary mb-2">Login</button>
            <hr>
            <router-link to="/register" class="btn btn-secondary">Register</router-link>
        </form>
    </div>
</template>

<script>

import api from "../api"

export default {
    name: "Login",
    data() {
        return {
            email: '',
            password: '',
            isError: false
        }
    },
    methods: {
        login() {
            api.login({
                username: this.email,
                password: this.password
            }).then((response) => {
                console.log(response)
                if (response === 'error') {
                    this.isError = true;
                } else {
                    this.$router.push('/dashboard')
                }
            })
        }
    }
}
</script>

<style scoped>

</style>