<template>
    <div class="container">
        <h1>Register</h1>

        <div class="alert alert-danger" role="alert" v-if="isError">
            Invalid credentials
        </div>

        <form @submit.prevent="register" class="d-flex flex-column">
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input type="text" class="form-control" id="companyName" v-model="companyName" placeholder="Company Name">
            </div>

            <div class="form-group">
                <label for="postalCode">Zip Code</label>
                <input type="text" class="form-control" id="postalCode" v-model="postalCode" placeholder="Zip Code">
            </div>

            <div class="form-group">
                <label for="subscriptionPlan">Subscription Plan</label>
                <select class="form-control" id="subscriptionPlan" v-model="subscriptionPlan" placeholder="Subscription Plan">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" v-model="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" v-model="password" placeholder="Password">
            </div>
            <button class="btn btn-primary mb-2">Register</button>
            <hr>
            <router-link to="/login" class="btn btn-secondary">Login</router-link>
        </form>
    </div>
</template>

<script>
import api from "../api";

export default {
    name: "Register",
    data() {
        return {
            email: '',
            password: '',
            companyName: '',
            postalCode: '',
            subscriptionPlan: '',
            isError: false
        }
    },
    methods: {
        register() {
            api.register({
                companyName: this.companyName,
                postalCode: this.postalCode,
                userPassword: this.password,
                userEmail: this.email,
                userRole: ['ROLE_ADMIN','ROLE_USER'],
                subscriptionPlan: this.subscriptionPlan
            }).then((response) => {
                if (response === 'error') {
                    this.isError = true;
                } else {
                    this.$router.push('/login')
                }
            })
        }
    }
}
</script>

<style scoped>

</style>